body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hover-effect {
  color: #b3b3b3;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.hover-effect:hover {
  color: white;
}
/* src/index.css */
::-webkit-scrollbar {
  width: 0.7rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
}
